@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
/* navigation Part */
* {
  padding: 0%;
  margin: 0%;
}
nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}
li {
  display: inline;
  padding: 10px 40px;
}
#logo {
  width: 15%;
  position: top-left;
  margin-top: -5%;
  margin-left: -10%;
  padding: 0%;
}
/* introduction Part */
h2 {
  color: brown;
  text-align: center;
  font-family: "Comforter", cursive;
  font-size: 50px;
}
.p1 {
  text-align: center;
  margin-top: 4%;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
}
#image {
  margin-left: 38%;
  margin-bottom: 2%;
  margin-top: 2%;
}
.p2 {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  margin-bottom: 2%;
}
.p3 {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  margin-bottom: 2%;
}
iframe {
  margin-left: 30%;
}
/*footer Part */
#contact {
  margin-left: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#facebook {
  width: 5%;
  margin-top: 2%;
}
#instagram {
  width: 5%;
  margin-top: 2%;
}
